@charset "utf-8";

/* -------------------------------------
	基本
----------------------------------------*/
body{
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 75%;
	color: #8C8C8C;
	line-height: 1.5;
	background-color: #EFF2E7;
}
a img{
	border:0;
}
a:hover img.hoverImg{
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}


/* -------------------------------------
	デフォルトリンク系
----------------------------------------*/
a{
	color: #0000ff;
	text-decoration: underline;
}
a:visited{
	color: #0000ff;
}
a:hover{
	color:#666666;
	text-decoration:none;
}
a:active{
	text-decoration:none;
}


/* -------------------------------------
	ヘッダー
----------------------------------------*/
header{
	background-color: #FFF;
}
#header{
	margin: 0 auto;
	width: 918px;
	padding-bottom: 18px;
}
#header h1{
	float: left;
	padding: 13px 0 0 0;
}
#header_navi_area{
	float: right;
}
#header_navi_area #header_navi ul{
	float: right;
	padding: 12px 1px 19px 0;
	font-size: 1px;
}
#header_navi_area #header_navi li{
	float: left;
	padding-left: 24px;
}
#header_navi_area #globalnavi ul{
	float: right;
}
#header_navi_area #globalnavi li{
	float: left;
	padding-left: 6px;
}

#top_title{
	height:50px;
	background:#FFF url(/images/common/mycJ_sky.gif) repeat-x center bottom;
}
#top_title h2{
	margin: 37px auto 0;
	width: 902px;
}

/* -------------------------------------
	フッター
----------------------------------------*/
footer{
	background-color: #FFF;
}
#footer{
	margin: 0 auto;
	width: 918px;
	padding: 22px 0 28px 0;
}
#footer #footer_address{
	float: left;
	width: 250px;
}
#footer #footer_address p{
	color: #919191;
	padding-top: 12px;
}
#footer #footer_navi{
	float: right;
	width: 620px;
	padding: 5px 0 0 0;
}
#footer #footer_navi .f_navi{
	float: left;
	width: 170px;
	font-size: 110%;
}
#footer #footer_navi .last{
	width: 110px;
}
#footer #footer_navi .f_navi li{
	background-image: url(/images/common/footer_icon01.gif);
	background-repeat: no-repeat;
	background-position: left 0.4em;
	padding: 0 0 3px 8px;
}
#footer #footer_navi .f_navi li ul{
	padding: 6px 0 0 0;
	font-size: 85%;
}
#footer #footer_navi .f_navi li li{
	background-image: url(/images/common/footer_icon02.gif);
	background-repeat: no-repeat;
	background-position: left 0.5em;
	padding: 0 0 2px 8px;
}

#footer #footer_navi .f_navi a{
	color:#0000ff;
	text-decoration: none;
}
#footer #footer_navi .f_navi a:hover{
	color:#666666;
	text-decoration:underline;
}
#footer #footer_navi .f_navi ul a{
	color:#8C8C8C;
	text-decoration: none;
}
#footer #footer_navi .f_navi ul a:hover{
	color:#8C8C8C;
	text-decoration:underline;
}
#copyright{
	color: #919191;
	border-top: 1px solid #EAEAEA;
	text-align: center;
	padding: 10px 0 60px 0;
	font-size: 90%;
}

/* -------------------------------------
	サイド
----------------------------------------*/
.side_column{
	background:#FFF url(/images/common/side_column_b.gif) no-repeat left bottom;
	margin-bottom:12px;
}
.side_column .column_inner{
	background:url(/images/common/side_column_t.gif) no-repeat left top;
	padding: 16px 0 10px 16px;
}
.side_bnr_shop{
	padding: 0 0 4px 0;
}
.side_bnr_shop li{
	float: left;
	padding: 0 8px 8px 0;
}
.side_bnr li{
	padding: 0 0 10px 0;
}
.side_bnr02{
	padding: 0 0 12px 0;
}

.side_navi_column{
	background:#FFF url(/images/common/side_column_b.gif) no-repeat left bottom;
	padding: 0 0 4px 0;
	margin-bottom:12px;
}
.side_navi_column h3{
	background:url(/images/common/side_navi_column_t.gif) no-repeat left top;
	padding: 27px 0 25px 17px;
}
.side_navi_column .side_navi{
	width: 256px;
	margin:0 auto;
}
.side_navi_column .side_navi li a{
	font-size: 110%;
	color: #595959;
	text-decoration: none;
	padding: 12px 0 12px 26px;
	margin-bottom: 3px;
	background: #EEF3DA url(/images/common/side_navi_icon01.gif) no-repeat 11px center;
	display: block;
	zoom: 1;
}
.side_navi_column .side_navi li a:hover,
.side_navi_column .side_navi li.pageon a{
	color:#519F35;
	background-color: #E4F4B8;
}
.side_navi_column .side_navi .sub_navi li{
	padding: 0;
	background: transparent url(/images/common/side_navi_line.gif) no-repeat right bottom;
}
.side_navi_column .side_navi .sub_navi li a{
	font-size: 90%;
	color: #777777;
	padding: 6px 0 6px 28px;
	margin: 0;
	display: block;
	background: transparent url(/images/common/side_navi_icon03.gif) no-repeat 11px center;
	zoom: 1;
}
.side_navi_column .side_navi .sub_navi li a:hover,
.side_navi_column .side_navi .sub_navi li.pageon a{
	color: #519F35;
	background-color: transparent;
}


/* -------------------------------------
	コンテンツ
----------------------------------------*/
#contents{
	width:920px;
	margin:0 auto;
	text-align:left;
}
#main_section{
	float: left;
	width: 620px;
}
#sub_section{
	float: right;
	width: 270px;
}

/* -------------------------------------
	フォームパーツ
----------------------------------------*/
input:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}

/* -------------------------------------
	個別パーツ
----------------------------------------*/
#main_section h3{
	padding-bottom: 15px;
}
#main_section h4{
	padding-bottom: 20px;
}
.column_1 h4{
	padding-bottom: 25px;
}
#main_section h5.title {
	font-size: 125%;
	font-weight: bold;
	color: #000;
	border-left: 5px solid #519F35;
	padding-left: 13px;
	margin-bottom: 16px;
}
#main_section h6.title {
	font-size: 110%;
	font-weight: bold;
	color: #5BA542;
	line-height:1.4;
	border: 1px solid #5BA542;
	padding: 4px 4px 2px 11px;
	margin-bottom: 14px;
}

.column {
	background:#FFF url(/images/common/column_b.gif) no-repeat left bottom;
	margin-bottom: 16px;
}
.column .inner {
	background:url(/images/common/column_t.gif) no-repeat left top;
	padding: 15px 0 5px 0;
}
.column_1 {
	background:#FFF url(/images/common/column_1_b.gif) no-repeat left bottom;
	margin-bottom: 16px;
}
.column_1 .inner {
	background:url(/images/common/column_1_t.gif) no-repeat left top;
	padding: 45px 0 5px 0;
}

.section01{
	width:590px;
	margin:0 auto 35px;
}
.column_1 .section01{
	width:780px;
	margin:0 auto 35px;
}
.section02{
	width:568px;
	margin:0 0 30px 14px;
}

.text_80p{
	font-size: 80%;
}
.text_90p{
	font-size: 90%;
}
.text_110p{
	font-size: 110%;
	line-height: 1.65;
}
.text_120p{
	font-size: 120%;
	line-height: 1.8;
}

.topic_path {
	width:918px;
	margin:0 auto;
	padding: 15px 0 17px 0;
}
.topic_path li {
	float: left;
}
.topic_path li a {
	padding: 0 12px 0 0;
	margin:0 8px 0 0;
	background:url(/images/common/topic_path_arrow.gif) no-repeat right 0.3em;
	text-decoration: none;
}
.pagetop{
	width:918px;
	margin:0 auto;
	padding: 20px 0 12px 0;
	text-align:right;
}

.index_column {
	margin-left:-5px;
}
.index_column li {
	margin: 11px 0 0 11px;
	float: left;
	display: inline;
}



/* -------------------------------------
	汎用
----------------------------------------*/
.right{
	text-align:right;
}
.left{
	text-align:left;
}
.center{
	text-align:center;
}
em,
strong{
	font-weight:bold;
}

/* margin-top */
.mt00 { margin-top: 0px!important; }
.mt05 { margin-top: 5px!important; }
.mt10 { margin-top: 10px!important; }
.mt15 { margin-top: 15px!important; }
.mt20 { margin-top: 20px!important; }
.mt25 { margin-top: 25px!important; }
.mt30 { margin-top: 30px!important; }
.mt35 { margin-top: 35px!important; }
.mt40 { margin-top: 40px!important; }
.mt45 { margin-top: 45px!important; }
.mt50 { margin-top: 50px!important; }
.mt55 { margin-top: 55px!important; }
.mt60 { margin-top: 60px!important; }
/* margin-right */
.mr00 { margin-right: 0px!important; }
.mr05 { margin-right: 5px!important; }
.mr10 { margin-right: 10px!important; }
.mr15 { margin-right: 15px!important; }
.mr20 { margin-right: 20px!important; }
.mr25 { margin-right: 25px!important; }
.mr30 { margin-right: 30px!important; }
.mr35 { margin-right: 35px!important; }
.mr40 { margin-right: 40px!important; }
.mr45 { margin-right: 45px!important; }
.mr50 { margin-right: 50px!important; }
.mr55 { margin-right: 55px!important; }
.mr60 { margin-right: 60px!important; }
/* margin-bottom */
.mb00 { margin-bottom: 0px!important; }
.mb05 { margin-bottom: 5px!important; }
.mb10 { margin-bottom: 10px!important; }
.mb15 { margin-bottom: 15px!important; }
.mb20 { margin-bottom: 20px!important; }
.mb25 { margin-bottom: 25px!important; }
.mb30 { margin-bottom: 30px!important; }
.mb35 { margin-bottom: 35px!important; }
.mb40 { margin-bottom: 40px!important; }
.mb45 { margin-bottom: 45px!important; }
.mb50 { margin-bottom: 50px!important; }
.mb55 { margin-bottom: 55px!important; }
.mb60 { margin-bottom: 60px!important; }
/* margin-left */
.ml00 { margin-left: 0px!important; }
.ml05 { margin-left: 5px!important; }
.ml10 { margin-left: 10px!important; }
.ml15 { margin-left: 15px!important; }
.ml20 { margin-left: 20px!important; }
.ml25 { margin-left: 25px!important; }
.ml30 { margin-left: 30px!important; }
.ml35 { margin-left: 35px!important; }
.ml40 { margin-left: 40px!important; }
.ml45 { margin-left: 45px!important; }
.ml50 { margin-left: 50px!important; }
.ml55 { margin-left: 55px!important; }
.ml60 { margin-left: 60px!important; }
/* padding-top */
.pt00 { padding-top: 0px!important; }
.pt05 { padding-top: 5px!important; }
.pt10 { padding-top: 10px!important; }
.pt15 { padding-top: 15px!important; }
.pt20 { padding-top: 20px!important; }
.pt25 { padding-top: 25px!important; }
.pt30 { padding-top: 30px!important; }
.pt35 { padding-top: 35px!important; }
.pt40 { padding-top: 40px!important; }
.pt45 { padding-top: 45px!important; }
.pt50 { padding-top: 50px!important; }
.pt55 { padding-top: 55px!important; }
.pt60 { padding-top: 60px!important; }
/* padding-right */
.pr00 { padding-right: 0px!important; }
.pr05 { padding-right: 5px!important; }
.pr10 { padding-right: 10px!important; }
.pr15 { padding-right: 15px!important; }
.pr20 { padding-right: 20px!important; }
.pr25 { padding-right: 25px!important; }
.pr30 { padding-right: 30px!important; }
.pr35 { padding-right: 35px!important; }
.pr40 { padding-right: 40px!important; }
.pr45 { padding-right: 45px!important; }
.pr50 { padding-right: 50px!important; }
.pr55 { padding-right: 55px!important; }
.pr60 { padding-right: 60px!important; }
/* padding-bottom */
.pb00 { padding-bottom: 0px!important; }
.pb05 { padding-bottom: 5px!important; }
.pb10 { padding-bottom: 10px!important; }
.pb15 { padding-bottom: 15px!important; }
.pb20 { padding-bottom: 20px!important; }
.pb25 { padding-bottom: 25px!important; }
.pb30 { padding-bottom: 30px!important; }
.pb35 { padding-bottom: 35px!important; }
.pb40 { padding-bottom: 40px!important; }
.pb45 { padding-bottom: 45px!important; }
.pb50 { padding-bottom: 50px!important; }
.pb55 { padding-bottom: 55px!important; }
.pb60 { padding-bottom: 60px!important; }
/* padding-left */
.pl00 { padding-left: 0px!important; }
.pl05 { padding-left: 5px!important; }
.pl10 { padding-left: 10px!important; }
.pl15 { padding-left: 15px!important; }
.pl20 { padding-left: 20px!important; }
.pl25 { padding-left: 25px!important; }
.pl30 { padding-left: 30px!important; }
.pl35 { padding-left: 35px!important; }
.pl40 { padding-left: 40px!important; }
.pl45 { padding-left: 45px!important; }
.pl50 { padding-left: 50px!important; }
.pl55 { padding-left: 55px!important; }
.pl60 { padding-left: 60px!important; }
/* -------------------------------------
	clearfix
----------------------------------------*/
/* For modern browsers */
.cf:before,.cf:after,
header:before,header:after,
footer:before,footer:after,
nav:before,nav:after,
section:before,section:after,
div:before,div:after,
dl:before,dl:after,
ul:before,ul:after{
	content:"";
	display:table;
}
.cf:after,
header:after,footer:after,
nav:after,section:after,
div:after,
dl:after,ul:after {
	clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf,
header,footer,nav,section,
div,dl,ul {
	zoom:1;
}