@charset "utf-8";

/* ----- business top -----*/
.business_index {
	margin-bottom: 15px;
}
.business_index .txt {
	float: left;
	width: 375px;
	padding-left: 12px;
}
#main_section .business_index .txt h5 {
	margin-bottom: 12px;
}
.business_index .txt p {
	font-size: 110%;
	padding-bottom: 20px;
	line-height: 1.65;
}
.business_index .txt .btn {
}
.business_index .txt .btn li {
	float: left;
	padding-right: 8px;
}

.business_index .img {
	float: right;
	width: 190px;
}

/* ----- reuse top -----*/
.reuse01 .txt {
	float: left;
	width: 315px;
}
.reuse01 .img {
	float: right;
}
.reuse_shop_area {
}
.reuse_shop_area .reuse_shop {
	padding: 15px 10px;
}
.reuse_shop_area .reuse_shop .bnr {
	float: left;
}
.reuse_shop_area .reuse_shop .txt {
	float: right;
	width: 452px;
	position: relative;
}
.reuse_shop_area .reuse_shop .txt h5 {
	padding-bottom: 10px;
}
.reuse_shop_area .reuse_shop .txt p {
	padding-right: 90px;
	font-size: 90%;
	color: #777;
}
.reuse_shop_area .reuse_shop .txt .btn {
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.reuse_shop_area .bg {
	background-color: #F2F9EF;
}

/* ----- reuse shop -----*/
.shop_main_img {
	text-align: center;
	padding-bottom: 22px;
}

.shop_tbl {
	border-bottom: 1px dashed #CBCBCB;
	width:578px;
	margin:0 auto;
}
.shop_tbl th,
.shop_tbl td {
	border-top: 1px dashed #CBCBCB;
	vertical-align: top;
}
.shop_tbl th {
	padding: 12px 12px 12px 12px;
	color: #519F35;
	background-color: #F9F9F9;
	width: 112px;
}
.shop_tbl td {
	padding: 8px 0 8px 20px;
}
.shop_tbl .btn {
	width: 100px;
	padding: 8px 6px 8px 0;
	vertical-align: middle;
	text-align: right;
}

/* ----- environmental top -----*/
.env_txt01 {
	font-size: 110%;
	color: #777;
	margin: 0 14px 30px 14px;
	line-height: 1.9;
}
.env_txt02 {
	font-size: 110%;
	color: #777;
	line-height: 1.9;
	margin: 30px 14px 0 14px;
	background:#FFF url(/images/business/env_img02.jpg) no-repeat right bottom;
}
.env_txt02 p {
	padding: 0 0 25px 0;
}

/* ----- products -----*/
.products_title01 {
	font-weight: bold;
	color: #000;
	font-size: 120%;
	margin-bottom: 3px;
}

.products_tbl01 {
	width: 100%;
	margin-bottom: 15px;
}
.products_tbl01 th,
.products_tbl01 td {
	border: 1px solid #B2B2B2;
	padding: 6px 6px 6px 9px;
}
.products_tbl01 th {
	background-color: #F9F9F9;
}
.products_tbl01 td {
}
.products_tbl01 .width01 {
	width: 5.5em;
}

.products_tbl02 {
	width: 100%;
	margin-bottom: 15px;
	line-height: 1.2;
}
.products_tbl02 th,
.products_tbl02 td {
	border: 1px solid #B2B2B2;
	text-align: center;
	vertical-align: middle;
}
.products_tbl02 th {
	background-color: #F9F9F9;
	padding: 4px 2px;
}
.products_tbl02 td {
	padding: 10px 3px 10px 3px;
}
.products_tbl02 td.td01 {
	padding: 10px 8px 10px 10px;
	text-align: left;
}

.products_tbl03 {
	width: 100%;
	margin-bottom: 15px;
}
.products_tbl03 th,
.products_tbl03 td {
	border: 1px solid #B2B2B2;
}
.products_tbl03 th {
	background-color: #F9F9F9;
	padding: 6px 6px 6px 9px;
}
.products_tbl03 td {
	padding: 6px 6px 6px 6px;
	text-align: center;
}
.products_tbl03 .width01 {
	width: 167px;
}

.products_list_wrap {
	border: 1px dashed #5BA542;
	padding: 12px 10px 11px 10px;
	margin: 0 0 10px 0;
}
.products_list01 li {
	background: url(/images/business/products_icon01.gif) no-repeat left 0.4em;
	padding: 0 0 1px 12px;
}

.products_list02 li {
	background: url(/images/business/products_icon02.gif) no-repeat left 0.3em;
	padding: 0 0 0 14px;
}
.products_list02 li ul {
	padding: 1px 0 2px 0;
}
.products_list02 li ul li {
	background: none;
	padding: 0 0 0 0;
}

.products01 {
	margin: 0 0 30px 0;
}
.products01 p {
	float: left;
	width: 300px;
	padding: 2px 0 0 0;
}
.products01 .img {
	float: right;
}
.products_generator {
	border-bottom: 1px solid #D3D3D3;
	padding: 30px 0 20px 0;
	margin: 0 0 10px 0;
}
.products_generator .generator01,
.products_generator .generator02,
.products_generator .generator03 {
	float: left;
}
.products_generator .generator01 {
	width: 174px;
	padding-right: 21px;
}
.products_generator .generator02 {
	width: 179px;
	padding-right: 20px;
}
.products_generator .generator03 {
	width: 174px;
}
.products_generator .img {
	padding: 0 0 19px 0;
}
.products_generator dt {
	padding: 0 0 18px 0;
}
.products_generator dd ul {
	padding: 0 0 0 1px;
	line-height: 1.4;
}
.products_generator dd ul li {
	background: url(/images/business/products_icon03.gif) no-repeat left 0.25em;
	padding: 0 0 3px 12px;
}


/* ----- ecoselect -----*/
.eco_title {
	padding: 0 0 24px 0;
}
.eco_sinsei {
	padding: 0 0 20px 0;
}
.eco_sinsei dl {
	border: 3px solid #EAF4E4;
}
.eco_sinsei dt {
	padding: 20px 20px 15px 20px;
}
.eco_sinsei dd {
	padding: 0 20px 10px 20px;
	font-size: 110%;
	line-height: 1.9;
}
.eco_sinsei dd img {
	vertical-align: text-top;
}
.eco_sinsei .sinsei01 {
	float: left;
	width: 320px;
}
.eco_sinsei .sinsei02 {
	float: right;
	width: 435px;
}
.eco_btn_area {
	padding: 0 0 45px 0;
}
.eco_btn_area .eco_btn01 {
	float: left;
}
.eco_btn_area .eco_btn01 li {
	float: left;
	padding: 0 6px 0 0;
}
.eco_btn_area .eco_btn02 {
	float: right;
}
.eco_product_area .eco_btn_area {
	border-bottom: 1px solid #B2B2B2;
	padding: 0 0 25px 0;
	margin-bottom:25px;
}
.eco_product {
	padding: 0 0 25px 0;
	margin-bottom:25px;
	border-bottom: 1px solid #B2B2B2;
}
.eco_product .product_img {
	padding: 0 0 0 0;
	float: left;
	width: 220px;
	text-align: center;
}
.eco_product .product_txt {
	padding: 0 0 0 0;
	float: right;
	width: 546px;
	color: #333;
}
.eco_product .product_txt .code {
	padding: 0 0 13px 0;
	font-weight:bold;
}
.eco_product .product_txt h5 {
	padding: 0 0 8px 0;
	font-size: 125%;
	font-weight: bold;
	color: #000;
	line-height: 1.55;
	border-bottom: 1px solid #DDD;
}
.eco_product .product_txt .point {
	padding: 10px 0 10px 0;
	margin-bottom:12px;
	border-bottom: 1px solid #DDD;
	line-height: 1;
}
.eco_product .product_txt .point dt {
	float: left;
	padding: 4px 3px 0 0;
	font-size: 110%;
	font-weight: bold;
	color: #000;
}
.eco_product .product_txt .point dd {
	float: left;
	font-size: 160%;
	font-weight: bold;
	color: #0000ff;
}
.eco_product .product_txt p {
	color: #333;
}

/* エコノスセレクト修正20130430 */

#ecoselect_category{}
#ecoselect_category ul{overflow:hidden;margin-bottom:30px;}
#ecoselect_category ul li{float:left;margin:1px 2px 4px 3px;}
.eco_product_area h4.eco_cattitle{
	font-size:17px;
	text-shadow:0px 0px 2px #fff;
	font-weight:bold;
	color:#0000ff;
	background:
	line-height:1.0;
	background:url(/images/business/eco_title02.gif) no-repeat left top;
	padding:8px 10px;
	width:758px;
	height:26px;
	margin-bottom:20px;
}
.eco_catlead{
/*	border:1px solid #519E36;*/
	background-color:#f9f9f9;
	padding:10px;
	margin-bottom:40px;
}
.eco_catlead p{
	font-size:120%;
	color:#333;
}