@charset "utf-8";
/* ===================================================================
CSS information
 style info :リセット及びbody初期設定 (このCSSは通常変更しない)
=================================================================== */
/* reset */
html {
	overflow-y: scroll;
}
@media only screen and (max-device-width: 640px) {
html { -webkit-text-size-adjust: 100%; }
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure,aside,section,nav {
	margin: 0;
	padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
}
table {
	border-collapse:collapse;
}
caption,th {
	text-align: left;
}
q:before,q:after {
	content: '';
}
object,
embed {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6,th {
	font-size: 100%;
	font-weight: normal;
}
img,abbr,acronym,fieldset {
	border: 0;
}
li {
	list-style-type: none;
}
img{
	vertical-align:bottom;
}
hr{
	clear:both;
	border:none;
	background-color:#FFFFFF;
}
::selection {
    background: #009ace;
	color:#fff;
}
pre{
	color:#000;
}


/* --------------------------------------------------------
01 share style
-------------------------------------------------------- */
/**** margin / padding ****/
.m0 { margin: 0 !important; }
.p0 { padding: 0 !important; }

.mb0  { margin-bottom: 0px  !important; }
.mb5  { margin-bottom: 5px  !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb65 { margin-bottom: 65px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb75 { margin-bottom: 75px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb85 { margin-bottom: 85px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb95 { margin-bottom: 95px !important; }
.mb100 { margin-bottom: 100px !important; }

.mt0  { margin-top: 0px  !important; }
.mt5  { margin-top: 5px  !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt65 { margin-top: 65px !important; }
.mt70 { margin-top: 70px !important; }
.mt75 { margin-top: 75px !important; }
.mt80 { margin-top: 80px !important; }
.mt85 { margin-top: 85px !important; }
.mt90 { margin-top: 90px !important; }
.mt95 { margin-top: 95px !important; }
.mt100 { margin-top: 100px !important; }

.ml0  { margin-left: 0px  !important; }
.ml5  { margin-left: 5px  !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }
.ml65 { margin-left: 65px !important; }
.ml70 { margin-left: 70px !important; }
.ml75 { margin-left: 75px !important; }
.ml80 { margin-left: 80px !important; }
.ml85 { margin-left: 85px !important; }
.ml90 { margin-left: 90px !important; }
.ml95 { margin-left: 95px !important; }
.ml100 { margin-left: 100px !important; }

.pt0  { padding-top: 0px  !important; }
.pt5  { padding-top: 5px  !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt55 { padding-top: 55px !important; }
.pt60 { padding-top: 60px !important; }
.pt65 { padding-top: 65px !important; }
.pt70 { padding-top: 70px !important; }
.pt75 { padding-top: 75px !important; }
.pt80 { padding-top: 80px !important; }
.pt85 { padding-top: 85px !important; }
.pt90 { padding-top: 90px !important; }
.pt95 { padding-top: 95px !important; }
.pt100 { padding-top: 100px !important; }

.pb0  { padding-bottom: 0px  !important; }
.pb5  { padding-bottom: 5px  !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb55 { padding-bottom: 55px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb65 { padding-bottom: 65px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb75 { padding-bottom: 75px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb85 { padding-bottom: 85px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb95 { padding-bottom: 95px !important; }
.pb100 { padding-bottom: 100px !important; }


/**** width(px) ****/
.w0 {  width: 0px !important; }
.w10 {  width: 10px !important; }
.w20 {  width: 20px !important; }
.w30 {  width: 30px !important; }
.w40 {  width: 40px !important; }
.w50 {  width: 50px !important; }
.w60 {  width: 60px !important; }
.w70 {  width: 70px !important; }
.w80 {  width: 80px !important; }
.w90 {  width: 90px !important; }
.w100 {  width: 100px !important; }
.w110 {  width: 110px !important; }
.w120 {  width: 120px !important; }
.w130 {  width: 130px !important; }
.w140 {  width: 140px !important; }
.w150 {  width: 150px !important; }
.w160 {  width: 160px !important; }
.w170 {  width: 170px !important; }
.w180 {  width: 180px !important; }
.w190 {  width: 190px !important; }
.w200 {  width: 200px !important; }
.w210 {  width: 210px !important; }
.w220 {  width: 220px !important; }
.w230 {  width: 230px !important; }
.w240 {  width: 240px !important; }
.w250 {  width: 250px !important; }
.w260 {  width: 260px !important; }
.w270 {  width: 270px !important; }
.w280 {  width: 280px !important; }
.w290 {  width: 290px !important; }
.w300 {  width: 300px !important; }
.w310 {  width: 310px !important; }
.w320 {  width: 320px !important; }
.w330 {  width: 330px !important; }
.w340 {  width: 340px !important; }
.w350 {  width: 350px !important; }
.w360 {  width: 360px !important; }
.w370 {  width: 370px !important; }
.w380 {  width: 380px !important; }
.w390 {  width: 390px !important; }
.w400 {  width: 400px !important; }
.w410 {  width: 410px !important; }
.w420 {  width: 420px !important; }
.w430 {  width: 430px !important; }
.w440 {  width: 440px !important; }
.w450 {  width: 450px !important; }
.w460 {  width: 460px !important; }
.w470 {  width: 470px !important; }
.w480 {  width: 480px !important; }
.w490 {  width: 490px !important; }
.w500 {  width: 500px !important; }
.w510 {  width: 510px !important; }
.w520 {  width: 520px !important; }
.w530 {  width: 530px !important; }
.w540 {  width: 540px !important; }
.w550 {  width: 550px !important; }
.w560 {  width: 560px !important; }
.w570 {  width: 570px !important; }
.w580 {  width: 580px !important; }
.w590 {  width: 590px !important; }
.w600 {  width: 600px !important; }
.w610 {  width: 610px !important; }
.w620 {  width: 620px !important; }
.w630 {  width: 630px !important; }
.w640 {  width: 640px !important; }
.w650 {  width: 650px !important; }

/**** width(%) ****/
.w10per {  width: 10% !important; }
.w12per {  width: 12% !important; }
.w15per {  width: 15% !important; }
.w20per {  width: 20% !important; }
.w25per {  width: 24% !important; }
.w30per {  width: 30% !important; }
.w35per {  width: 35% !important; }
.w40per {  width: 40% !important; }
.w46per {  width: 46% !important; }
.w50per {  width: 50% !important; }
.w60per {  width: 60% !important; }
.w70per {  width: 70% !important; }
.w75per {  width: 75% !important; }
.w77per {  width: 77% !important; }
.w80per {  width: 80% !important; }
.w85per {  width: 85% !important; }
.w90per {  width: 90% !important; }
.w100per {  width: 100% !important; }

/**** font-size ****/
.font10 {font-size: 10px !important; }
.font11 {font-size: 11px !important; }
.font12 {font-size: 12px !important; }
.font13 {font-size: 13px !important; }
.font14 {font-size: 14px !important; }
.font15 {font-size: 15px !important; }
.font16 {font-size: 16px !important; }
.font17 {font-size: 17px !important; }
.font18 {font-size: 18px !important; }
.font19 {font-size: 19px !important; }
.font20 {font-size: 20px !important; }
.font21 {font-size: 21px !important; }
.font22 {font-size: 22px !important; }
.font23 {font-size: 23px !important; }
.font24 {font-size: 24px !important; }
.font25 {font-size: 25px !important; }
.font26 {font-size: 26px !important; }
.font27 {font-size: 27px !important; }
.font28 {font-size: 28px !important; }
.font29 {font-size: 29px !important; }
.font30 {font-size: 30px !important; }

/* float */
.float-l{ float:left; }
.float-r{ float:right; }

.border-t-0{ border-top: none !important; }

.clear-b{ clear:both; }
.clearfix:after{ content : ''; display : block; clear : both; }

/* text align */
.text-l{ text-align:left; }
.text-r{ text-align:right; }
.text-c{ text-align:center; }


.display-b {
	display:block;
}


.text-low{
	font-size: 86%;
	color: #555;
}

.font_b{ font-weight:bold; }

/*CSS Rollover*/
a.cssRoll{
	opacity:1;
	filter: alpha(opacity=100);
    transition-property: opacity;
    transition-duration:0.1s;
	cursor:pointer;
}
a:hover.cssRoll{
	opacity:0.7;
	filter: alpha(opacity=60);
}

.bg-none{
	background:none !important;
}






table {
	width:100%;
}
table th,
table td{
	vertical-align: top;
}
img[data-img]{
	visibility:hidden;
}


/* --------------------------------------------------------
02 site default setting
-------------------------------------------------------- */
body {
	font-size: 14px;
    font-family: "Noto Sans Japanese", "Roboto", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    font-weight: 400;
	line-height: 2.0;
	color:#476c54;
	font-weight:300;
}


/* IE6 base font */
* html body {
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
}

a {
	color:#2e885c;
	text-decoration: none;
}

/* text color */
.red{ color:#E63246; }


@media print{
body, html {
	width:1100px;
	-webkit-print-color-adjust: exact;
}
}

.disable{
	opacity:0.3 !important;
	cursor: default !important;
	filter: alpha(opacity=30) !important;
}
.disable a{
	cursor: default;
	filter: alpha(opacity=30) !important;
}

html {
    overflow-x: hidden;
    min-width: 1000px;
}
@media screen and (max-width: 1000px) {
    html {
        overflow-x: auto;
    }
}

/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Thin.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Thin.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Light.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Light.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-DemiLight.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-DemiLight.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-DemiLight.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 400;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Regular.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Regular.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 500;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Medium.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Medium.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 700;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Bold.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Bold.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 900;
   src: url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Black.woff2) format('woff2'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Black.woff) format('woff'),
        url(//fonts.gstatic.com/ea/notosansjapanese/v3/NotoSansJP-Black.otf) format('opentype');
}

