@charset "UTF-8";
/******************************************
 IR
******************************************/

.display-n {
	display:none;
}
.text-m{
	vertical-align:middle;
}
/****** module ******/
/* mod-side */
.mod-side-nav-heading a{
	color:#fff;
}
.mod-side-nav ul li ul{
	margin-bottom:0;
}
.mod-side-nav ul li li{
	border-top:1px solid #d9dcd3;
	border-bottom:0;
}
.mod-side-nav li li a{
	display: block;
	padding:5px 20px;
	background-color:#EBEDE4;
}

/* open close */
.mod-side-nav .type-governance,
.mod-side-nav .type-library,
.mod-side-nav .type-stock{
	display:none;
}
#top.governance .mod-side-nav .type-governance,
#top.library .mod-side-nav .type-library,
#top.stock .mod-side-nav .type-stock{
	display:block;
}

/* current */
#top.ir-news .mod-side-nav .ir-news a,
#top.ir-message .mod-side-nav .ir-message a,
#top.ir-governance .mod-side-nav .ir-governance a,
#top.ir-highlight .mod-side-nav .ir-highlight a,
#top.ir-library .mod-side-nav .ir-library a,
#top.ir-securities .mod-side-nav .ir-securities a,
#top.ir-materials .mod-side-nav .ir-materials a,
#top.ir-stock .mod-side-nav .ir-stock a,
#top.ir-meeting .mod-side-nav .ir-meeting a,
#top.ir-calendar .mod-side-nav .ir-calendar a,
#top.ir-investor .mod-side-nav .ir-investor a,
#top.ir-faq .mod-side-nav .ir-faq a,
#top.ir-notice .mod-side-nav .ir-notice a,
#top.ir-disclaimer .mod-side-nav .ir-disclaimer a{
	color: #fff;
	background-color: #6EB37A;
}



/* mod-btn */
.mod-btn.type-ico-rss:after{
	content:url(../img/ico-rss.png);
	position:absolute;
	display: block;
	width:15px;
	height:15px;
	top:11px;
	right:11px;
}
.mod-btn.type-ico-dl:after{
	content:url(../img/ico-dl.png);
	position:absolute;
	display: block;
	width:15px;
	height:15px;
	top:11px;
	right:11px;
}

/* mod-body / ir-sec-1 */
.ir-sec-1{
	margin-bottom:40px;
}
.ir-sec-1-tit-1{
	font-size:22px;
	font-weight:600;
	letter-spacing:1.6px;
	line-height:1.6;
	margin-bottom:20px;
}



/****** IRトップ ******/
/* 皆様へ */
.ir-top-sec-message a{
	display:block;
	width:640px;
	height:170px;
	padding:20px 30px 30px;
	margin-bottom:45px;
	color:#fff;
	background:#6EB37A url(../img/index/message-ph.png) no-repeat right 20px bottom;
}
.ir-top-sec-message a:hover{
	opacity:0.7;
	filter: alpha(opacity=60);
}
.ir-top-sec-message-tit{
	font-size:22px;
	font-weight:bold;
}
.ir-top-sec-message-txt{
	margin-bottom:1em;
}

/* IRニュース */
.ir-top-sec-news{
	margin-bottom:45px;
}

/* IRライブラリー */
.ir-top-sec-library{
	padding:30px;
	margin-bottom:20px;
	border:1px solid #D9DCD3;
}
.ir-top-sec-library-link{
	display:table;
	border-collapse:separate;
	border-spacing:20px 0;
	margin:1em auto 1.5em;
}
.ir-top-sec-library-link li{
	display:table-cell;
	position:relative;
	padding-left:14px;
}
.ir-top-sec-library-link li:before{
	content:url(/assets/img/ico-arrow-right.png);
	position:absolute;
	display: block;
	width:8px;
	height:12px;
	top:0;
	left:0;
}
.ir-top-sec-library-link li a{
	font-weight:bold;
}

/* バナー */
.ir-top-sec-banner {
	overflow:hidden;
}
.ir-top-sec-banner li{
	float:left;
	margin-bottom:20px;
}
.ir-top-sec-banner li:nth-child(2n){
	margin-left:20px;
}


/****** 株主・投資家の皆様へ ******/
.message-txt{
	float:right;
	width:480px;
}
.message-txt p{
	margin-bottom:1em;
}
.message-img{
	float:left;
	width:200px;
}


/****** 個人投資家の皆様へ ******/
.investor-tit-1{
	display:inline-block;
	font-size:20px;
	font-weight:600;
	line-height:1.6;
	margin-bottom:20px;
	padding:0.1em 0.3em;
	border-radius:4px;
	color:#fff;
	background:#476c54;
}
.investor-tit-1.type-reuse{background:#ed6d00;}
.investor-tit-1.type-lowcarbon{background:#024f90;}
.investor-tit-2{
	display:inline-block;
	font-weight:600;
	line-height:1.6;
	font-size:16px;
	margin-bottom:20px;
	padding:0.2em 0.6em;
	border-radius:4px;
	color:#fff;
	background:#009944;
}
.investor-tit-3{
	font-size:20px;
	font-weight:600;
	line-height:1.6;
	margin-bottom:20px;
	padding:0.3em 0.5em;
	color:#009944;
	background:#F7FAF9;
}
.investor-tit-4{
	font-size:16px;
	font-weight:600;
	line-height:1.6;
	margin-bottom:20px;
	color:#024f90;
}

.investor-explanation{
	font-size:12px;
}
.investor-explanation dd{
	margin-bottom:1em;
	padding-left:3.6em;
}


/****** よくあるご質問 ******/
.faq-sec{
	margin-bottom:40px;
}
.faq-sec dl{
	margin-bottom:20px;
}
.faq-sec dt,
.faq-sec dd{
	padding:10px 20px;
	border:1px solid #d9dcd3;
	position:relative;
}
.faq-sec dt span,
.faq-sec dd span{
	position:absolute;
	display:inline-block;
	width:3em;
	font-weight:500;
	font-size:16px;
}
.faq-sec dt p{
	margin-left: 2.6em;
}
.faq-sec dd p{
	margin-left: 3em;
}
.faq-sec dt{
	font-weight:500;
	font-size:16px;
	background:#f7fae7;
}
.faq-sec dd{
	border-top:none;
}