// ------------------------------
// variables
// ------------------------------
@import 'to-fixed';

// colors control

$font-white-color: #ffffff;
$font-color01: #333333;

// Fontsize control

@mixin fz($fz: 24, $lh: 16) {
  font-size: #{$fz}px;
  $lh_num : ($lh / $fz)* 1;
  line-height: #{$lh_num};
}

// height control

// mixin control
@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// Clearfix
@mixin clf {
  zoom: 1;
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    font-size: 0;
  }
}
