// ------------------------------
// side CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';


.mod-slide-tit {
}
.mod-slide-tit-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 420px;
  li {
    position: absolute;
    height: 420px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
    width: 24%;
    transition: 0.8s;
    &:not(.active):hover { width: 28%; }
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: auto;
      max-width: 400px;
    }
    &.active {
      width: 52%;
      span {
        display: block;
        padding: 78px 20px 0 0;
        img {
          position: static;
          width: 100%;
          height: auto;
          max-width: 588px;
        }
      }
    }
  }
}

.mod-slide-tit-left {
  left: 0;
  background-image: url(../img/covers/cover-bg-reuse.jpg);

  .type-reuse & { background-image: url(../img/covers/cover-tit-bg-reuse.jpg); }
  .type-eco & { z-index: 12 }
  .type-carbonoffset & { z-index: 12 }
}
.mod-slide-tit-right {
  right: 0;
  background-image: url(../img/covers/cover-bg-eco.jpg);

  .type-reuse & { z-index: 12 }
  .type-eco & { background-image: url(../img/covers/cover-tit-bg-eco.jpg); }
  .type-carbonoffset & { z-index: 12 }
}
.mod-slide-tit-center {
  background-image: url(../img/covers/cover-bg-carbonoffset.jpg);

  .type-reuse & { right: 24%; z-index: 11 }
  .type-eco & { left: 24%; z-index: 11 }
  .type-carbonoffset & {
    background-image: url(../img/covers/cover-tit-bg-carbonoffset.jpg);
    left: 0;
    right: 0;
    margin: auto;
  }
}
