// ------------------------------
// container CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

//.mod-container
.mod-container {
  padding: 60px 0 0;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  &.type-two-col {
    width: 980px;
  }
}

//.mod-body
.mod-body {
  &.type-left {
    width: 700px;
    float: left;
  }
}
.mod-body-in {
    width: 980px;
    margin: 0 auto;
}
