// ------------------------------
// footer CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

//.mod-footer
.mod-footer {
  border-top: 1px solid #eeefec;
  width: 100%;
  overflow: hidden;
  a:hover { text-decoration: underline; }
}
.mod-footer-in {
  width: 980px;
  padding: 80px 0 0 0;
  margin: 0 auto;
  position: relative;
}
.mod-footer-txt-1 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
  a {
    color: #3d654b;
  }
}

// mod-footer-pagetop
.mod-footer-pagetop {
  position: absolute;
  top: 40px;
  right: -150px;
}

// mod-footer-nav
.mod-footer-nav {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  & > ul {
    float: left;
    & > li {
      position: relative;
      overflow: hidden;
      width: 100%;
      margin-bottom: 10px;
      color: #666;
      & > a {
        font-weight: 600;
        color: #3d654b;
        font-size: 16px;
      }
    }
  }
}
.mod-footer-nav-list-low {
  font-size: 13px;
  float: left;
  li {
      margin-bottom: 5px;
  }
  a {
    font-size: 13px;
    color: #3d654b;
  }
}
.mod-footer-strong {
  font-size: 15px;
  font-weight: 600;
  color: #3d654b;
}

// mod-footer-privacy
.mod-footer-privacy {
  background: #eff5cc;
  width: 100%;
  p {
    width: 980px;
    padding: 20px 0;
    margin: 0 auto;
    color: #3d654b;
    font-size: 10px;
    letter-spacing: 2px;
  }
}
