// ------------------------------
// header CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

.mod-header {
  padding: 18px 0 21px 0;
  position: relative;
  overflow: hidden;
  width: 980px;
  margin: 0 auto;
}
.mod-header-logo {
  float: left;
}
.mod-header-nav {
  float: right;
  ul {
    position: relative;
    overflow: hidden;
    padding: 18px 0 0 0;
    li {
      float: left;
      padding: 0 0 0 30px;
      a {
        display: block;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 0 0 3px 0;
        &:hover { border-bottom: 2px solid #b0cf01; }
      }
      &.active a { border-bottom: 2px solid #b0cf01; }
    }
  }
}

