// ------------------------------
// page-recruit CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

.mod-tit.type-company-outline {
  background-image: url(../../company/common/img/index/tit-bg.jpg);
}

.mod-tit.type-company-outline h1 {
  text-indent: -210px;
  padding: 80px 0 0 0;
}

//company-outline-maps
.company-outline-maps {
  position: relative;
  overflow: hidden;
}
.company-outline-map {
  background: #E7E7E7;
  width: 470px;
  height: 260px;
  margin-bottom: 15px;
}
.company-outline-map-tit {
  font-size: 24px;
  font-weight: 500;
}

//company-sec-1
.company-outline-sec-1 {
  padding: 0 0 90px 0;
}

//company-sec-2
.company-outline-sec-2 {
  padding: 0 0 100px 0;
}


.mod-table-1 {
  border-top: 1px solid #d9dcd3;
  border-left: 1px solid #d9dcd3;
  background: #fff;
}

.mod-table-1 th,
.mod-table-1 td {
  padding: 10px 20px;
  vertical-align: middle;
  border-right: 1px solid #d9dcd3;
  border-bottom: 1px solid #d9dcd3;
}

.mod-table-1 th {
  background: #f7fae7;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid #d9dcd3 !important;
}

.mod-table-1 td {
  position: relative;
}

.mod-table-1.type-history td {
  padding-left: 56px;
  font-size: 14px;
}

.mod-table-cell-month {
  position: absolute;
  left: 15px;
}
