// ------------------------------
// page-top CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

.mod-tit.type-eco-send {
  background-image: url(../../eco/common/img/send/tit-bg.jpg);
}

.mod-tit.type-eco-send h1 {
  text-indent: -210px;
  padding: 80px 0 0 0;
}

.eco-send-nav {
  width: 940px;
  margin: 0 auto 30px;
  position: relative;
  overflow: hidden;
  li {
    margin-bottom: 20px;
    a {
      display: inherit;
      color: #476c54;
    }
    img { padding-right: 25px; }
  }
}

.eco-send-item {
  position: relative;
  overflow: hidden;
  background: #f5f6f1;
  font-size: 16px;
  padding: 0 0 40px 0;
}
.eco-send-item-code {
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  dt {
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
    padding: 5px;
    background: #e1e7d6;
    width: 280px;
    font-size: 17px;
  }
  dd {
    display: table-cell;
    vertical-align: middle;
    font-weight: 500;
    padding: 5px;
    background: #fff;
    font-size: 26px;
  }
}

.eco-send-block {
  margin-bottom: 40px;
}
.eco-send-block-in {
  background: #fff;
  padding: 20px 30px 30px;
}
.eco-send-item-tit {
  text-align: center;
  padding: 25px 0;
  margin-bottom: 30px;
  &.type-econos-select { background: #00a239; }
  &.type-wasora-select { background: #202088; }
}

.mod-contact-block {
  border: 4px solid #e1e7d6;
  background: #fff;
  width: 972px;
  padding: 15px 0;
  margin: 0 auto 50px;
  text-align: center;
  font-size: 16px;
  img { vertical-align: top; }
}
.mod-contact-block-tit {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
}