// ------------------------------
// page-recruit CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

.mod-tit.type-company {
  background-image: url(../../company/common/img/index/tit-bg.jpg);
  height: 680px;
}

.mod-tit.type-company h1 {
  text-align: center;
  padding: 140px 0 0 0;
}

// company-sec-1
.company-sec-1 {
  padding: 70px 0;
  .mod-body-in {
    background: url(../../company/common/img/index/sec-1-ph-1.jpg) no-repeat right 0;
    min-height: 1089px;
  }
}
.company-sec-1-txt-1 {
  margin-bottom: 50px;
}
.company-sec-1-left {
  width: 568px;
  p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 25px;
  }
}

// company-sec-2
.company-sec-2 {
  background: url(../../company/common/img/index/sec-1-bg-1.jpg) no-repeat center;
  background-size: cover;
  padding: 70px 0;
  color: #fff;
}
.company-sec-2-txt-1 {
  text-align: center;
  margin-bottom: 60px;
}
.company-sec-2-list{
  li {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
  }
  dl {
    background: rgba(255, 255, 255, 0.65);
    position: relative;
    overflow: hidden;
    display: table;
    width: 100%;
  }
  dt { float: left; }
  dd {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    color: #0352c8;
    width: 100%;
    padding: 0 26px;
    box-sizing: border-box;
    line-height: 1.8;
  }
}

// company-sec-3
.company-sec-3 {
  background: #f5f6f1;
  padding: 70px 0;
}
.company-sec-3-txt-1 {
  text-align: center;
  margin-bottom: 60px;
}
.company-sec-3-item {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
  figure { float: left; }
}
.company-sec-3-item-right {
  float: right;
  width: 586px;
}
.company-sec-3-item-tit {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 14px;
}
.company-sec-3-item-tit-high {
  font-size: 22px;
  display: block;
}