// ------------------------------
// pagetitle CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

.mod-pagetitle {
    position: relative;
    background: url('../img/common/bg-stripe.png') repeat 0 0;
    @include clf;
    &:before {
        position: absolute;
        left: 0;
        bottom: -4px;
        display: block;
        content: '';
        width: 100%;
        height: 4px;
        background: url('../img/common/bg-shadow.png') repeat-x 0 0;
    }
}
.mod-pagetitle-inner {
  position: relative;
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
.mod-pagetitle-breadcrumbs {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 0;
  @include fz(13,20);
}
.mod-pagetitle-h {
  display: table-cell;
  width: 960px;
  height: 240px;
  color: #21344A;
  @include fz(16,20);
  text-align: center;
  vertical-align: middle;
  .icon {
    display: block;
    margin: 0 auto 5px;
  }
}
