// ------------------------------
// page-top CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

// sec-1
.eco-sec-1 {
  font-size: 16px;
  padding: 60px 0 80px;
  position: relative;
  overflow: hidden;
}
.eco-sec-1-txt-1 {
  text-align: center;
  margin-bottom: 60px;
}
.eco-sec-1-right {
  float: right;
  width: 578px;
  position: relative;
}
.eco-sec-1-right-figure {
  position: absolute;
  top: 0px;
  left: -400px;
  font-size: 14px;
  font-weight: 600;
  img {
    display: block;
    margin-bottom: 15px;
  }
}

// sec-2
.eco-sec-2 {
  background: #f5f6f1;
  padding: 60px 0 80px;
  position: relative;
  overflow: hidden;
  .mod-heading-2 { margin-bottom: 50px; }
}
.eco-sec-2-item {
  width: 460px;
  margin-bottom: 60px;
  padding-bottom: 20px;
  background: #fff;
  text-align: center;
}
.eco-sec-2-item-heading {
  background: #e1e7d6;
  font-weight: 600;
  font-size: 18px;
  display: table;
  width: 460px;
  text-align: left;
  span {
    display: table-cell;
    vertical-align: middle;
  }
}
.mod-eco-products-nav {
  background: #e1e7d6;
  text-align: center;
  font-size: 0;
  li {
    display: inline-block;
    width: 25%;
  }
  a {
    display: block;
    font-size: 17px;
    font-weight: 600;
    padding: 12px 0;
    color: #3d654b;
    &:hover{
      border-color: #00a239;
      background: #f5f6f1;
    }
  }
  li.active a {
    border-color: #00a239;
    background: #f5f6f1;
  }
  &.type-top {
    padding: 10px 0 0 0;
    a { border-top: 6px solid transparent; }
  }
  &.type-bottom {
    padding: 0 0 10px 0;
    a { border-bottom: 6px solid transparent; }
  }
}
.eco-products-item {
  background: #f5f6f1;
  padding: 56px 0 30px;
  display: none;
}
.eco-products-block {
  background: #fff;
  margin-bottom: 40px;
}
.eco-products-block-in {
  padding: 30px 40px;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}
.eco-products-block-dl {
  background: #f7fae7;
  padding: 20px 30px;
  margin-bottom: 20px;
  dt {
    font-weight: 500;
    font-size: 20px;
  }
}
.eco-products-block-list > li {
  position: relative;
  padding-left: 20px;
  &:before {
    position: absolute;
    content: "●";
    color: #00a239;
    font-size: 11px;
    top: 5px;
    left: 2px;
  }
}
.eco-products-block-list-low > li {
  position: relative;
  padding-left: 20px;
  &:before {
    position: absolute;
    content: "・";
    font-size: 14px;
    top: 4px;
    left: 2px;
  }
}
.eco-products-block-caption {
  background: #dcecc6;
  color: #5d9d33;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 0;
  width: 720px;
  margin: 0 auto;
}
