// ------------------------------
// page-top CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

// sec-1
.carbonoffset-sec-1 {
  font-size: 16px;
  padding: 60px 0 80px;
}
.carbonoffset-sec-1-txt-1 {
  text-align: center;
  margin-bottom: 50px
}
.carbonoffset-sec-1-img-1 {
  text-align: center;
  margin-bottom: 60px
}

// sec-2
.carbonoffset-sec-2 {
  font-size: 16px;
  padding: 80px 0 60px;
  background: url(../../carbonoffset/common/img/index/sec-2-bg-1.jpg) no-repeat center 0;
  background-size: cover;
}
.carbonoffset-sec-2-txt-1 {
  text-align: center;
  margin-bottom: 64px
}
.mod-banner-list {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  .mod-heading-2 { margin-bottom: 50px; }
  .mod-heading-2-low { color: #00a239; }
}
