// ------------------------------
// page-top CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

.mod-article {
  margin-bottom: 40px;
  border-bottom: 1px solid #d9dcd3;
}

// mod-article-head
.mod-article-head {
  background: #f7fae5;
  border-top: 2px solid #b0cf01;
  color: #3d654b;
  padding: 6px 30px 10px;
  margin-bottom: 25px;
}
.mod-article-head-date {
  letter-spacing: 1px;
  margin: 0 10px 0 0;
}
.mod-article-head-tags{
  display: inline-block;
  li { display: inline-block; }
  a {
    background: #00a239;
    color: #fff;
    padding: 3px 10px;
    font-size: 12px;
  }
}
.mod-article-head-tit {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}

// mod-article-body
.mod-article-body {
  padding: 0 30px;
  margin-bottom: 40px;
  line-height: 2.0;
  font-size: 15px;
}

// mod-pager
.mod-pager {
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}
.mod-pager-prev { float: left; }
.mod-pager-next { float: right; }
