// ------------------------------
// page-top CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

//visual
.top-sec-visual-wrap {
  background: url(../img/index/visual-bg-1.jpg);
}
.top-sec-visual {
  background: url(../img/index/visual-1.jpg) no-repeat center 0;
  height: 780px;
  text-align: center;
}
.top-sec-visual-txt-1 {
  padding-top: 54px;
  margin-bottom: 68px;
}
.top-sec-visual-btn-1 {
  margin-bottom: 62px;
}

// topics
.top-sec-topics {
  padding: 40px 0 140px;
}
.top-sec-topics-list {
  width: 800px;
  margin: 0 auto 50px;
  background: #fdfdf7;
  li:nth-child(2n-1) { background: #f7fae5; }
  a {
    padding: 16px 26px;
    display: block;
    color: #00a239;
    position: relative;
    overflow: hidden;
    &:hover { color: #c3da3e; }
  }
}
.top-sec-topics-date {
  margin-right: 35px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #00a239;
  float: left;
  width: 80px;
}
.top-sec-topics-title {
  float: right;
  width: 630px;
}

// message
.top-sec-message {
  padding: 95px 0 95px;
  position: relative;
  overflow: hidden;
  background: #f5f6f1;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 380px;
    height: 475px;
    margin: 0 0 0 200px;
    background: url(../img/index/ph-1.png) no-repeat 0 0;
  }
}

// ir
.top-sec-ir {
  padding: 70px 0;
  background: #6eb37a;
  text-align: right;
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 841px;
    height: 480px;
    margin: 0 0 0 -954px;
    background: url(../img/index/ph-2.png) no-repeat 0 0;
  }
}

// shop
.top-sec-shop {
  padding: 40px 0 160px;
}
.top-sec-shop-list {
  text-align: center;
  li {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 1px;
    img { margin-bottom: 8px; }
  }
}

// recruit
.top-sec-recruit {
  padding: 30px 0 60px;
  background: #f5f6f1 url(../../recruit/common/img/index/tit-bg.jpg) no-repeat center -200px;
  text-align: center;
}

// other
.top-sec-other {
  padding: 40px 0;
  background: #dfec99;
}
.top-sec-other-list {
  position: relative;
  overflow: hidden;
  text-align: center;
  li { display: inline-block; }
}
