// ------------------------------
// page-recruit CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

.mod-tit.type-recruit {
  background-image: url(../../recruit/common/img/index/tit-bg.jpg);
  background-position: center 0;
  background-size: auto;
  background-color: #f5f6f1;
  text-align: center;
  min-height: 678px;
}

.mod-tit.type-recruit h1 {
  padding-top: 58px;
  margin-bottom: 40px;
}

//sec-1
.recruit-sec-1 {
  padding-bottom: 60px;
}
.recruit-sec-1-txt-1 {
  text-align: center;
  margin-bottom: 50px;
}

//sec-2
.recruit-sec-2 {
  padding: 60px 0 40px;
  background: #eeefef;
  text-align: center;
}
.recruit-sec-2-txt-1 {
  margin-bottom: 55px;
}

//sec-3
.recruit-sec-3 {
  padding: 60px 0;
  background: #f5f6f1 url(../../recruit/common/img/index/tit-bg.jpg) no-repeat center -100px;
  background-size: auto;
  .mod-heading-2 {
    color: #fff;
    text-align: center;
  }
}
.recruit-sec-3-txt-1 {
  margin-bottom: 50px;
  text-align: center;
}
.recruit-sec-3-item {
  position: relative;
  margin-bottom: 60px;
  &:before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  dl { width: 700px; }
  dt {
    line-height: 1.4;
    margin-bottom: 10px;
  }
  dd { font-size: 16px; }

  &.type-saito-y:before {
    width: 247px;
    height: 242px;
    top: -10px;
    left: -8px;
    background-image: url(../../recruit/common/img/index/sec-2-ph-saito-y.png);
  }
  &.type-kikuchi-m:before {
    width: 220px;
    height: 306px;
    top: -25px;
    right: 20px;
    background-image: url(../../recruit/common/img/index/sec-2-ph-kikuchi-m.png);
  }
  &.type-aizawa-s:before {
    width: 232px;
    height: 310px;
    top: -30px;
    left: 15px;
    background-image: url(../../recruit/common/img/index/sec-2-ph-aizawa-s.png);
  }
  &.type-taguchi-y:before {
    width: 217px;
    height: 296px;
    top: -20px;
    right: 6px;
    background-image: url(../../recruit/common/img/index/sec-2-ph-taguchi-y.png);
  }
}
.recruit-sec-3-item-shop {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.recruit-sec-3-item-name {
  font-size: 24px;
  font-weight: 600;
}
.recruit-sec-3-item-sub {
  font-size: 14px;
  margin-left: 16px;
  font-weight: 500;
}
