// ------------------------------
// page-top CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

.mod-tit.type-reuse-shop {
  background-image: url(../../reuse/common/img/shop/tit-bg.jpg);
}

.mod-tit.type-reuse-shop h1 {
  text-indent: -210px;
  padding: 80px 0 0 0;
}

// sec-1
.reuse-shop-sec-1 {
  margin-top: -60px;
  background: #f5f6f1;
}

.reuse-shop-list-nav {
  padding: 10px 0 0 0;
  background: #e1e7d6;
  text-align: center;
  li {
    display: inline-block;
    &.active a { background: #fff; }
  }
  a {
    display: block;
    font-weight: 600;
    font-size: 13px;
    padding: 0 0 10px 0;
    &:hover { background: #fff; }
    img {
      display: block;
      margin-bottom: 6px;
    }
  }
}

.reuse-shop-list-item {
  padding: 60px 0;
}
.reuse-shop-list-item-heading {
  margin-bottom: 40px;
  min-height: 320px;
  position: relative;
  background-repeat: no-repeat;
  background-position: right 0;

  &.type-bookoff {
    background-color: #ed6d00;
    background-image: url(../../reuse/common/img/shop-bookoff-ph.jpg);
  }
  &.type-hardoff {
    background-color: #4c4398;
    background-image: url(../../reuse/common/img/shop-hardoff-ph.jpg);
  }
  &.type-offhouse {
    background-color: #009944;
    background-image: url(../../reuse/common/img/shop-offhouse-ph.jpg);
  }
  &.type-hobbyoff {
    background-color: #c7000a;
    background-image: url(../../reuse/common/img/shop-hobbyoff-ph.jpg);
  }
  &.type-garageoff {
    background-color: #4c4398;
    background-image: url(../../reuse/common/img/shop-garageoff-ph.jpg);
  }

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35px;
    margin: auto;
  }
}

.reuse-shop-cell-btn a {
  position: absolute;
  min-width: 150px;
  top: 15px;
  right: 20px;
  font-size: 14px;
}
