// ------------------------------
// page-recruit CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

.mod-tit.type-contact {
  background-image: url(../../contact/common/img/tit-bg.jpg);
}

.contact-sec-1 {
  padding-bottom: 120px;
  .must {
    color: #cc0000;
    margin-left: 10px;
  }
}
.form-cap {
  font-size: 12px;
  padding: 0 10px;
}

.form-err-msg {
  color: #cc0000;
  font-size: 13px;
  padding-top: 10px;
  font-weight: 500;
}

.mod-table-2 th,
.mod-table-2 td {
  padding: 18px 30px;
  vertical-align: middle;
  border-bottom: 1px solid #d9dcd3;
}

.mod-table-2 th {
  font-size: 15px;
}

input,
select,
textarea {
  border-radius: 4px;
  border: 1px solid #d9dcd3;
  background: #fdfefa;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans Japanese", "Roboto", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

button {
  font-family: "Noto Sans Japanese", "Roboto", "Helvetica Neue", Helvetica, Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}