// ------------------------------
// page-top CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

.mod-tit.type-reuse {
}

.mod-tit.type-reuse h1 {
}

// sec-1
.reuse-sec-1 {
    padding: 60px 0 100px;
    font-size: 16px;
}

.reuse-sec-1-txt-1 {
    text-align: center;
    margin-bottom: 50px;
}


// sec-2
.reuse-sec-2 .mod-heading-2 {
    margin-bottom: 70px;
}

.reuse-shopitem {
    position: relative;
    overflow: hidden;
    padding: 60px 0;
}

.reuse-shopitem figure {
    float: left;
}

.reuse-shopitem-detail {
    float: right;
    width: 600px;
    font-size: 16px;
}

.reuse-shopitem-heading {
    font-size: 22px;
    padding: 5px 0 5px 24px;
    margin-bottom: 20px;
    background: #fff;
    font-weight: 600;
    border-left: 6px solid #ed6d00;
}

.reuse-shopitem-target {
    background: #fff;
    font-size: 14px;
    padding: 15px 26px;
    line-height: 1.6;
}

.reuse-shopitem-target-tit {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}

.type-bookoff.reuse-shopitem,
.type-offhouse.reuse-shopitem,
.type-garageoff.reuse-shopitem {
    background: #f5f5f4;
}

.type-hardoff.reuse-shopitem,
.type-hobbyoff.reuse-shopitem {
    background: #eeefec;
}

.type-bookoff.reuse-shopitem   .reuse-shopitem-heading {
    border-color: #ed6d00;
}

.type-hardoff.reuse-shopitem   .reuse-shopitem-heading {
    border-color: #4c4398;
}

.type-offhouse.reuse-shopitem  .reuse-shopitem-heading {
    border-color: #009944;
}

.type-hobbyoff.reuse-shopitem  .reuse-shopitem-heading {
    border-color: #c7000a;
}

.type-garageoff.reuse-shopitem .reuse-shopitem-heading {
    border-color: #4c4398;
}

// sec-3
.reuse-sec-3 {
    padding: 80px 0 80px;
    position: relative;
    overflow: hidden;
}

.reuse-sec-3-txt-1 {
    float: left;
    padding-right: 68px;
}

.reuse-sec-3-txt-2 {
    padding-top: 30px;
    margin-bottom: 40px;
}

.reuse-sec-3-right {
    width: 700px;
    float: right;
}

.reuse-sec-3-detail {
    font-size: 16px;
    padding-left: 310px;
    min-height: 180px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    background: url(../../reuse/common/img/index/sec-1-img-1.png) no-repeat 0 86px;
}

.reuse-sec-3-bnr-econos {
    float: right;
}

.reuse-sec-3-bnr-econos a {
    display: block;
    background: #e1e7d6 url(../../reuse/common/img/shop-bookoff-econos-tit.png) no-repeat 19px center;
    padding: 14px 19px 14px 156px;
    font-size: 16px;
    font-weight: 600;
    width: 260px;
    position: relative;
}

.reuse-sec-3-bnr-econos a:after {
    content: "";
    width: 8px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
    background: url(../img/ico-arrow-right.png) no-repeat 0 0;
}



