// ------------------------------
// pankuzu CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

//.mod-pankuzu
.mod-pankuzu {
  background: #eeefec;
  width: 100%;
  ul {
    width: 980px;
    margin: 0 auto;
    padding: 8px 0;
    position: relative;
    overflow: hidden;
    li {
      float: left;
      font-size: 12px;
      &:after {
        content: ">";
        margin: 0 8px 0;
      }
      &:last-child:after { content: ""; }
    }
  }
}
