// ------------------------------
// side CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

//.mod-side
.mod-side {
    width: 240px;
    float: right;
}

//.mod-side-nav
.mod-side-nav {
  ul {
    background: #f5f6f1;
    margin-bottom: 20px;
    li {
      border-bottom: 1px solid #d9dcd3;
      a {
        display: block;
        padding: 10px 20px;
      }
    }
  }
}
.mod-side-nav-heading {
  background: #b0cf01;
  padding: 5px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
