// ------------------------------
// widget CSS
// ------------------------------
@import 'compass';
@import 'setting/variables';

//.mod-tit
.mod-tit {
  height: 280px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &.type-topics { background-image: url(/assets/img/covers/topics-tit-bg.jpg); }
  &.type-ir { background-image: url(../../ir/common/img/tit-bg.jpg); }
  h1 {
    width: 980px;
    padding: 114px 0 0 0;
    margin: 0 auto;
  }
}

//.mod-heading
.mod-heading-1 {
  font-size: 17px;
  min-height: 46px;
  padding: 14px 0 0 132px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #5a7a66;
  background: #e8eae5 url(../img/mod-heading-ico-1.png) no-repeat 9px 4px;
}
.mod-heading-2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.6px;
  line-height: 1.6;
  margin-bottom: 40px;
}
.mod-heading-2-low {
  display: block;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #00a239;
}
.mod-heading-3 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 12px 0 12px 70px;
  background: #00a239 url(../img/mod-heading-ico-2.png) no-repeat 16px 17px;
  &.type-blue { background-color: #4d7cbc; }
}

// .mod-btn
.mod-btn {
  display: inline-block;
  text-align: center;
  border: 2px solid #2e885c;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  min-width: 200px;
  box-sizing: border-box;
  padding: 8px 30px;
  position: relative;
  color: #2e885c;
  line-height: 1.8;
  outline: none;

  &.type-white {
    border-color: #fff;
    color: #fff;
  }
  &.type-green {
    border-color: #b0cf01;
    background: #75b407;
    color: #fff;
  }

  &.type-ico-arrow-l:after {
    &:after{
      content: url(../img/ico-arrow-left.png);
      position: absolute;
      display: block;
      width: 8px;
      height: 12px;
      top: 9px;
      left: 10px;
    }
  }
  &.type-ico-arrow-r {
    &:after{
      content: url(../img/ico-arrow-right.png);
      position: absolute;
      display: block;
      width: 8px;
      height: 12px;
      top: 9px;
      right: 10px;
    }
    &.type-white:after { content: url(../img/ico-arrow-right-2.png); }
    &.type-green:after {
      top: 15px;
      content: url(../img/ico-arrow-right-2.png);
    }
  }
  &.type-ico-blank{
    &:after {
      content: url(../img/ico-blank.png);
      position: absolute;
      display: block;
      width: 15px;
      height: 15px;
      top: 11px;
      right: 11px;
    }
  }
}
