/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000000
- white		#ffffff
-           #
-           #
-           #
***************************************/
.black {
	background-color: #000000;
	color: #ffffff;
}

/**************************************/
/*              GLOBALS               */
/**************************************/
body {
	margin: 0;
	overflow-y: scroll;
	background-image:url("../img/body.gif");
	background-repeat:repeat no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: #404040;
}
h1 {
	font-size: 2.0em;
	border: 2px solid #666666;
	padding: 10px;
	background-color:#372024;
	color:#ffffff;
	margin: 0 0 0.5em;
/*
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
*/
}
code, kbd, samp, pre, tt, var, input[type='text'], input[type='password'], textarea { font-size: 120%; font-family: "ＭＳ ゴシック", "ＭＳ Ｐゴシック", "ＭＳ 明朝";}
.centering {
	margin: 0 auto;
}
.w95p {
	width: 95%;
}
a:hover img.over01 {
	opacity: 0.7;
}
.container {
	margin-top:5px;
}
p.btn-area {
	text-align:center;
}
p.btn-area button {
	float:none;
}
.mb0 {
	margin-bottom: 0px;
}
.mt5 {
	margin-top: 5px;
}
.w760 {
	width: 760px;
}
.right {
	text-align: right;
}
input.disabled,
select.disabled,
textarea.disabled {
	background-color:#ece9d8;
}
span.disabled,
label.disabled {
	color:#cbc8b7;
}
.small-font {
	font-size:0.8em;
}
.small-font2 {
	font-size:0.75em;
}
/**************************************/
/*              HEADER                */
/**************************************/
div#header {
	height: 100px;
	/*background-color:#C2FDAD;*/
}


/**************************************/
/*             NAVIGATION             */
/**************************************/
div.sidenavi {

}
div.sidenavi ul {
	list-style:none;
	margin: 0;
}
div.sidenavi ul li {
	margin: 2px 0;
}
div.sidenavi-header {
	width:100%;
	background-color:#17973d;
	color:#ffffff;
	text-align: center;
	font-size:15px;
	font-weight:bold;
	padding: 15px 0;
}
a.navi-button {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #17973d;
	border-color: #EEEEEE #DEDEDE #DEDEDE #EEEEEE;
	border-right: 1px solid #DEDEDE;
	border-style: solid;
	border-width: 1px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: "Liberation Sans",Helvetica,Arial,sans-serif;
	font-size: 100%;
	font-weight: bold;
	line-height: 130%;
	padding: 8px 0 8px;
	text-decoration: none;
	width: 100%;
	text-align: center;
}
a.navi-button.active {
	background-color: #cc0000;
	border-color: #EEEEEE #DEDEDE #DEDEDE #EEEEEE;
	border-right: 1px solid #DEDEDE;
}
a.navi-button:hover{ background-color:#bbbbbb; border:1px solid #ffffff; color:#000000; }
a.navi-button.active:hover{ background-color:#ff4444; border:1px solid #ffffff; color:#000000; }

a.control-button {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #bbbbbb;
	border: 1px solid #eeeeee;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: "Liberation Sans",Helvetica,Arial,sans-serif;
	font-size: 100%;
	font-weight: bold;
	line-height: 130%;
	padding: 5px 3px;
	text-decoration: none;
	text-align: center;
}
a.control-button.active {
	background-color: #cc0000;
	border: 1px solid #eeeeee;
}
a.control-button:hover{ background-color:#bbbbbb; border:1px solid #000000; color:#000000; }
a.control-button.active:hover{ background-color:#bbbbbb; border:1px solid #000000; color:#000000; }

div.navi-btn {
	float:left;
	width:130px;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/
div.content_area {
	margin-bottom: 20px;
}
#flashMessage {
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
}
div.message_loginmiss,
div.message_failed {
	border: 3px solid #ff8888;
	background-color:#ffdddd;
	color:#ff0000;
}
div.message_logout {
	border: 3px solid #ccffcc;
	background-color:#eeffee;
	color:#005500;
}
div.message_success {
	background-color:#ccccff;
	border: 3px solid #aaaaff;
	color:#0000ff;
}
table.econosinfo {
	border-left: 2px solid #888888;
	border-top: 2px solid #888888;
	width: 760px;
}
table.econosinfo input[type='text'] {
	width: 540px;
}
table.econosinfo textarea {
	height: 100px;
	width: 540px;
}
table.econosinfo th,
table.econosinfo td {
	border-bottom: 2px solid #888888;
	border-right: 2px solid #888888;
	padding: 5px 0;
}
table.econosinfo th {
	background-color:#4f81bd;
	color:#ffffff;
	width: 25%;
	vertical-align: middle;
}
table.econosinfo td {
	background-color:#dce6f2;
	width: 75%;
	padding-left: 5px;
}
table.econosinfo td.radio-l3o div.radiolist {
	float: left;
	width: 33%;
	margin: 0;
}
table.econosinfo td.radio-l2o div.radiolist {
	float: left;
	width: 20%;
	margin: 0;
}
table.econosinfo td.hiring_title input[type='text'] {
	white-space: nowrap;
	width: 370pt;
	margin: 7px;
}
table.econosinfo tr.hiring th.hiring_title {
	border-bottom: none;
}
table.econosinfo tr.hiring td.hiring_title {
	border-bottom: none;
}
table.econosinfo td.hiring_content div.hiring_content {
	white-space: nowrap;
}
table.econosinfo td.hiring_content * {
	vertical-align: top;
}
table.econosinfo td.hiring_content div.hiring_content textarea {
	margin-left: 15pt;
	width: 370pt;
}
table.econosinfo td.radio-normal div.radiolist span.spanPDF input[type='file'] {
	white-space: nowrap;
	width: 300pt;
}

table.econosinfo td.ymd input[type='text'] {
	width: 80px;
}
table.econosinfo td.goodscd input[type='text'] {
	width: 80px;
}
table.econosinfo td.point input[type='text'] {
	width: 80px;
}
table.econosinfo td.postal input[type='text'] {
	width: 80px;
}
table.econosinfo td.tel input[type='text'] {
	width: 100px;
}
table.econosinfo td.fax input[type='text'] {
	width: 100px;
}

p.btn-area a.btn,
p.btn-area button.submit-btn {
	display: inline-block;
	padding:5px 10px;   /*** Links ***/
	border:2px solid #FFFFFF;
	background-color:#EC6901;
	font-family:"Liberation Sans", Helvetica, Arial, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#FFFFFF;
	cursor:pointer;
	width: 200px;
}
p.btn-area button.popup-submit-btn {
	display: inline-block;
	padding:5px 10px;   /*** Links ***/
	border:2px solid #e6f9ff;
	background-color:#bbbbbb;
	font-family:"Liberation Sans", Helvetica, Arial, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#ffffff;
	cursor:pointer;
	width: 200px;
}
p.btn-area a.btn:hover,
p.btn-area button.submit-btn:hover {
	display: inline-block;
	padding:5px 10px;   /*** Links ***/
	border:2px solid #909090;
	background-color:#d5d5d5;
	font-family:"Liberation Sans", Helvetica, Arial, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
	cursor:pointer;
	width: 200px;
}
p.btn-area button.popup-submit-btn:hover {
	display: inline-block;
	padding:5px 10px;   /*** Links ***/
	border:2px solid #e6f9ff;
	background-color:#bbbbbb;
	font-family:"Liberation Sans", Helvetica, Arial, sans-serif;
	font-size:100%;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
	cursor:pointer;
	width: 200px;
}
p.btn-area a.btn:hover, 
p.btn-area button.submit-btn:hover {
	background-color:#dff4ff;
	border:2px solid #c2e1ef;
	color:#336699;
}
p.btn-area button.popup-submit-btn:hover {
	border:2px solid #000000;
	color:#000000;
}
div.valid-error {
	margin-bottom: 5px;
	margin-right: 5px;
	border-radius: 5px;		/* CSS3草案 */
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */
	border: 2px solid #ff8888;
	padding: 2px;
	background-color:#ffdddd;
	color:#ff0000;
	font-weight:bold;
}
div.valid-error p {
	margin: 0;
}
div.valid-error2 {
	margin: 0;
	border: 2px solid #ff8888;
	border-left:none;
	border-right:none;
	padding: 2px;
	background-color:#ffdddd;
	color:#ff0000;
	font-weight:bold;
}
div.valid-error2 p {
	margin: 0;
}
.hotelnavi-area {
	margin-bottom: 10px;
}
.search-area {
	margin-bottom: 10px;
}
.search-form {
	padding: 5px;
	margin-right: 5px;
	border-radius: 5px;		/* CSS3草案 */
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */
	border: 2px solid #dddddd;
	background-color:#eeeeee;
}
.econoslist-area {
	margin-bottom: 0px;
}
table.econoslist {
	width: 780px;
	margin-bottom: 0px;
}
table.econoslist_borderless {
	width: 780px;
	border: none;
	margin-top: 0px;
	margin-bottom: 0px;
}
table.econoslist_borderless th {
	border: none;
}
table.econoslist_borderless td {
	border: none;
}
table.econoslist_borderless td.paging {
	width: 660pt;
}
table.econoslist_borderless td.create_btn {
	width: 120pt;
}

table.econoslist th.th-id {
	width: 20px;
}
table.econoslist th.th-num {
	width: 30px;
}
table.econoslist th.th-status {
	width: 30px;
}
table.econoslist th.th-goodscd {
	width: 60px;
}
table.econoslist th.th-goodsname {
	width: 250px;
}
table.econoslist th.th-point {
	width: 60px;
}
table.econoslist th.th-displayorder {
	width: 30px;
}
table.econoslist th.th-edit_del {
	width: 50px;
}
table.econoslist th.th-date {
	width: 80px;
}
table.econoslist th.th-category {
	width: 120px;
}
table.econoslist th.th-investorrel_title {
	width: 410px;
}
table.econoslist th.th-store {
	width: 150px;
}
table.econoslist th.th-address {
	width: 210px;
}
table.econoslist th.th-telfax {
	width: 210px;
}
table.econoslist th.th-del {
	width: 50px;
}
table.econoslist th.th-date_start_end {
	width: 150px;
}
table.econoslist th.th-hiring_title {
	width: 300px;
}
table.econoslist th.th-date {
	width: 70px;
}
table.econoslist th.th-info {
	width: 70px;
}
table.econoslist th.th-freeword {
	width: 480px;
}

table.econoslist tr.bgColor02 {
	background-color:#DCDCDC;
}

table.econoslist th.th-status2 {
	width: 50px;
}
table.econoslist th.th-hotelcd {
	width: 70px;
}
table.econoslist th.th-productno {
	width: 80px;
}
table.econoslist th.th-recommend {
	width: 50px;
}
table.econoslist th.th-vendercd {
	width: 120px;
}
table.econoslist th.th-costprice {
	width: 60px;
}
table.econoslist th.th-stocknumber {
	width: 30px;
}
table.econoslist td.td-vintage {
	width: 30px;
}
table.econoslist td.td-winenamek {
	width: auto;
}
table.econoslist th.th-price {
	width: 60px;
}
table.econoslist th.th-control {
	width: 60px;
}
table.econoslist th.th-control2 {
	width: 150px;
}
table.econoslist th.th-sort {
	width: 103px;
	padding: 0;
}
table.econoslist td.td-sort {
	width: 25px;
	padding: 0;
}
table.econoslist td.td-sort a {
	text-decoration:none;
}
table.econoslist th,
table.econoslist td {
	padding:2px;
	word-break: break-all;
}
table.econoslist th {
	background-color:#666666;
	color:#ffffff;
}
table.econoslist td {
}
table.econoslinkkbn {
	width:559px;
	margin-left: 0px;
	margin-bottom: 0px;
	border-style: none;
	border-collapse:collapse;
	border-spacing:0
}
table.econoslinkkbn td {
	table-layout: fixed;
}
table.econoslinkkbn td.error {
	border-style: none;
}
table.econoslinkkbn td.td-linkkbn {
	width:49px;
	border-style: none;
}
table.econoslinkkbn td.td-linkkbn div {
	height:35px;
}
table.econoslinkkbn td.td-file {
	width:100px;
	border-style: none;
}
table.econoslinkkbn td.td-url {
	border-style: none;
}
table.econoslinkkbn td.td-non {
	width:355px;
	border-style: none;
}
table.econoslinkkbn td.td-look {
	width:50px;
	border-style: none;
}
table.econoslinkkbn td.td-look button {
	border-style: none;
	position: relative;
	top: 16px;
}
table.econoslinkkbn td.td-delete {
	width:50px;
	border-style: none;
}
table.econoslinkkbn td.td-url input[type='text'] {
	border-style: none;
	width: 395px;
}

.p10 {
	width:10%;
}
.p15 {
	width:15%;
}
.p20 {
	width:20%;
}
.p25 {
	width:25%;
}
.p30 {
	width:30%;
}
.p35 {
	width:35%;
}
.p40 {
	width:40%;
}
.p45 {
	width:45%;
}
.p50 {
	width:50%;
}
.p55 {
	width:55%;
}
.p60 {
	width:60%;
}
.p65 {
	width:65%;
}
.p70 {
	width:70%;
}
.p75 {
	width:75%;
}
.p80 {
	width:80%;
}
.p85 {
	width:85%;
}
.p90 {
	width:90%;
}
.p95 {
	width:95%;
}
.p100 {
	width:100%;
}

/**************************************/
/*               FOOTER               */
/**************************************/

div#footer {
	height: 60px;
	background-color:#C2FDAD;
	color:#000000;
}
